services:
  - type: web
    name: go-messenger
    env: go
    rootDir: ./
    buildCommand: go build -o go-messenger
    startCommand: ./go-messenger
    envVars:
      - key: PORT
        value: 5000
      - key: ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: SMTP_HOST
        sync: false
      - key: SMTP_PORT
        sync: false
      - key: SMTP_USER
        sync: false
      - key: SMTP_PASS
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: JWT_REFRESH_SECRET
        sync: false 